:root {
    --pst-color-primary: #00aa41;
}

.navbar-light {
  background-color: #2f2f2f !important;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.11);
}

.navbar-light .navbar-nav .nav-link {
    color: lightgray;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

.navbar-light .navbar-nav>.active>.nav-link {
    color: white;
}

.nav-link {
    white-space: nowrap;
}

.navbar {
    justify-content: end;
}
