:root {
    --pst-color-primary: 47,47,47;
    --pst-color-link: 0,170,65;
}

.nav-link {
    white-space: nowrap;
}

.navbar .container-xl {
    justify-content: left;
}

.navbar .container-md {
    justify-content: left;
}

.showcase-table {
    border-spacing: 15px
}

.showcase-table td {
    border: 0px;
    vertical-align: top;
}

.pl-md-5, .px-md-5 {
    padding-left: 1rem !important;
}

.pt-md-5, .py-md-5 {
    padding-top: 1rem !important;
}
