include README.md
include LICENSE.txt
include panel/.version
include panel/py.typed
include panel/*.json
include panel/assets/*.gif
include panel/assets/*.svg
include panel/index.ts
include panel/layout/*.html
include panel/models/*.ts
include panel/models/vtk/*.ts
include panel/_templates/*.css
include panel/_templates/*.js
include panel/_templates/*.html
include panel/_templates/*.webmanifest
include panel/tests/assets/*.css
include panel/tests/assets/*.js
include panel/tests/test_data/*.png
include panel/tests/pane/assets/*.mp3
include panel/tests/pane/assets/*.mp4
recursive-include panel/template *.html
recursive-include panel/template *.css
recursive-include panel/template *.js
recursive-include panel/theme *.css
recursive-include panel/theme *.js
global-exclude *.py[co]
global-exclude *~
global-exclude *.ipynb_checkpoints/*
global-exclude *.whl
graft panel/examples
graft examples
graft doc/
graft panel/dist
