[dependencies]
bokeh = ">=3.4.0,<3.5.0"
param = ">=2.0.0,<3.0"
pyviz_comms = ">=2.0.0"
xyzservices = ">=2021.09.1"
markdown = "*"
markdown-it-py = "*"
linkify-it-py = "*"
mdit-py-plugins = "*"
requests = "*"
tqdm = ">=4.48.0"
bleach = "*"
typing_extensions = "*"
pandas = ">=1.2"

[feature.examples.dependencies]
holoviews = ">=1.16.0"
hvplot = "*"
plotly = ">=4.0"
altair = "*"
streamz = "*"
vega_datasets = "*"
vtk = "*"
scikit-learn = "*"
datashader = "*"
jupyter_bokeh = ">=3.0.7"
django = "<4"
channels = "*"
pyvista = "*"
ipywidgets = "*"
ipywidgets_bokeh = "*"
ipyvolume = "*"
ipyleaflet = "*"
ipympl = "*"
folium = "*"
xarray = "*"
pyinstrument = ">=4.0"
aiohttp = "*"
croniter = "*"
graphviz = "*"
networkx = ">=2.5"
pygraphviz = "*"
seaborn = "*"
pydeck = "*"
python-graphviz = "*"
xgboost = "*"
ipyvuetify = "*"
reacton = "*"
scikit-image = "*"
fastparquet = "*"
textual = "*"
dask-expr = "*"

[feature.tests_core.dependencies]
flake8 = "*"
parameterized = "*"
pytest = "*"
nbval = "*"
pytest-rerunfailures = "*"
pytest-asyncio = "<0.22"
pytest-xdist = "*"
pytest-cov = "*"
pre-commit = "*"
psutil = "*"
altair = "*"
anywidget = "*"
folium = "*"
diskcache = "*"
holoviews = ">=1.16.0"
numpy = "*"
pandas = ">=1.3"
ipython = ">=7.0"
scipy = "*"
textual = "*"
watchfiles = "*"

[feature.tests.dependencies]
flake8 = "*"
parameterized = "*"
pytest = "*"
nbval = "*"
pytest-rerunfailures = "*"
pytest-asyncio = "<0.22"
pytest-xdist = "*"
pytest-cov = "*"
pre-commit = "*"
psutil = "*"
altair = "*"
anywidget = "*"
folium = "*"
diskcache = "*"
holoviews = ">=1.16.0"
numpy = "*"
pandas = ">=1.3"
ipython = ">=7.0"
scipy = "*"
textual = "*"
watchfiles = "*"
ipympl = "*"
ipyvuetify = "*"
ipywidgets_bokeh = "*"
reacton = "*"
twine = "*"
numba = "<0.58"

[feature.recommended.dependencies]
jupyterlab = "*"
holoviews = ">=1.16.0"
matplotlib = "*"
pillow = "*"
plotly = "*"

[feature.doc.dependencies]
jupyterlab = "*"
holoviews = ">=1.16.0"
matplotlib = "*"
pillow = "*"
plotly = "*"
nbsite = ">=0.8.4"
lxml = "*"
pandas = "<2.1.0"

[feature.ui.dependencies]
jupyter-server = "*"
playwright = "*"
pytest-playwright = "*"
tomli = "*"

[feature.all.dependencies]
aiohttp = "*"
altair = "*"
anywidget = "*"
channels = "*"
croniter = "*"
dask-expr = "*"
datashader = "*"
diskcache = "*"
django = "<4"
fastparquet = "*"
flake8 = "*"
folium = "*"
graphviz = "*"
holoviews = ">=1.16.0"
hvplot = "*"
ipyleaflet = "*"
ipympl = "*"
ipython = ">=7.0"
ipyvolume = "*"
ipyvuetify = "*"
ipywidgets = "*"
ipywidgets_bokeh = "*"
jupyter-server = "*"
jupyter_bokeh = ">=3.0.7"
jupyterlab = "*"
lxml = "*"
matplotlib = "*"
nbsite = ">=0.8.4"
nbval = "*"
networkx = ">=2.5"
numba = "<0.58"
numpy = "*"
pandas = ">=1.3"
parameterized = "*"
pillow = "*"
playwright = "*"
plotly = ">=4.0"
pre-commit = "*"
psutil = "*"
pydeck = "*"
pygraphviz = "*"
pyinstrument = ">=4.0"
pytest = "*"
pytest-asyncio = "<0.22"
pytest-cov = "*"
pytest-playwright = "*"
pytest-rerunfailures = "*"
pytest-xdist = "*"
python-graphviz = "*"
pyvista = "*"
reacton = "*"
scikit-image = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
streamz = "*"
textual = "*"
tomli = "*"
twine = "*"
vega_datasets = "*"
vtk = "*"
watchfiles = "*"
xarray = "*"
xgboost = "*"

[feature.all_pip.dependencies]
aiohttp = "*"
altair = "*"
anywidget = "*"
channels = "*"
croniter = "*"
dask-expr = "*"
datashader = "*"
diskcache = "*"
django = "<4"
fastparquet = "*"
flake8 = "*"
folium = "*"
graphviz = "*"
holoviews = ">=1.16.0"
hvplot = "*"
ipyleaflet = "*"
ipympl = "*"
ipython = ">=7.0"
ipyvolume = "*"
ipyvuetify = "*"
ipywidgets = "*"
ipywidgets_bokeh = "*"
jupyter-server = "*"
jupyter_bokeh = ">=3.0.7"
jupyterlab = "*"
lxml = "*"
matplotlib = "*"
nbsite = ">=0.8.4"
nbval = "*"
networkx = ">=2.5"
numba = "<0.58"
numpy = "*"
pandas = ">=1.3"
parameterized = "*"
pillow = "*"
playwright = "*"
plotly = ">=4.0"
pre-commit = "*"
psutil = "*"
pydeck = "*"
pyinstrument = ">=4.0"
pytest = "*"
pytest-asyncio = "<0.22"
pytest-cov = "*"
pytest-playwright = "*"
pytest-rerunfailures = "*"
pytest-xdist = "*"
pyvista = "*"
reacton = "*"
scikit-image = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
streamz = "*"
textual = "*"
tomli = "*"
twine = "*"
vega_datasets = "*"
vtk = "*"
watchfiles = "*"
xarray = "*"
xgboost = "*"

[feature.build.dependencies]
param = ">=2.0.0"
setuptools = ">=42"
requests = "*"
packaging = "*"
bokeh = ">=3.4.0,<3.5.0"
pyviz_comms = ">=2.0.0"
bleach = "*"
markdown = "*"
tqdm = ">=4.48.0"
cryptography = "<39"
urllib3 = "<2.0"
