:root {
  --mdc-theme-primary: #00aa41 !important;
  --mdc-theme-on-primary:  #ffffff !important;
  --mdc-theme-secondary: #424342 !important;
  --mdc-theme-on-secondary:  #ffffff;
  --mdc-theme-error:  #b00020;
  --mdc-theme-on-error:  #ffffff;
  --mdc-theme-surface:  #ffffff;
  --mdc-theme-on-surface:  #000000;
  --mdc-theme-background:  #ffffff;
  --mdc-shape-small:  4px;
  --mdc-shape-medium:  4px;
  --mdc-shape-large:  0px;
  --mdc-typography--font-family:  "Roboto";
}