:root {
  --md-source: #452392;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #12003b;
  --md-ref-palette-primary5: #160042;
  --md-ref-palette-primary6: #180048;
  --md-ref-palette-primary10: #22005d;
  --md-ref-palette-primary12: #260067;
  --md-ref-palette-primary17: #320380;
  --md-ref-palette-primary20: #391186;
  --md-ref-palette-primary22: #3d188a;
  --md-ref-palette-primary24: #421f8f;
  --md-ref-palette-primary25: #442291;
  --md-ref-palette-primary30: #50309d;
  --md-ref-palette-primary35: #5c3daa;
  --md-ref-palette-primary40: #684ab7;
  --md-ref-palette-primary50: #8164d2;
  --md-ref-palette-primary60: #9c7eee;
  --md-ref-palette-primary70: #b69bff;
  --md-ref-palette-primary80: #cfbdff;
  --md-ref-palette-primary87: #e1d3ff;
  --md-ref-palette-primary90: #e9ddff;
  --md-ref-palette-primary92: #eee4ff;
  --md-ref-palette-primary94: #f3eaff;
  --md-ref-palette-primary95: #f6eeff;
  --md-ref-palette-primary96: #f8f1ff;
  --md-ref-palette-primary98: #fdf7ff;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #23001d;
  --md-ref-palette-secondary5: #280021;
  --md-ref-palette-secondary6: #2c0025;
  --md-ref-palette-secondary10: #3a0032;
  --md-ref-palette-secondary12: #410038;
  --md-ref-palette-secondary17: #530048;
  --md-ref-palette-secondary20: #5e0052;
  --md-ref-palette-secondary22: #660058;
  --md-ref-palette-secondary24: #6d005f;
  --md-ref-palette-secondary25: #710262;
  --md-ref-palette-secondary30: #7f166e;
  --md-ref-palette-secondary35: #8e257b;
  --md-ref-palette-secondary40: #9c3388;
  --md-ref-palette-secondary50: #ba4da3;
  --md-ref-palette-secondary60: #d967be;
  --md-ref-palette-secondary70: #f881db;
  --md-ref-palette-secondary80: #ffade6;
  --md-ref-palette-secondary87: #ffcbec;
  --md-ref-palette-secondary90: #ffd7ef;
  --md-ref-palette-secondary92: #ffe0f2;
  --md-ref-palette-secondary94: #ffe8f4;
  --md-ref-palette-secondary95: #ffecf5;
  --md-ref-palette-secondary96: #fff0f6;
  --md-ref-palette-secondary98: #fff7f9;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #081100;
  --md-ref-palette-tertiary5: #0a1400;
  --md-ref-palette-tertiary6: #0c1600;
  --md-ref-palette-tertiary10: #131f00;
  --md-ref-palette-tertiary12: #162400;
  --md-ref-palette-tertiary17: #1e2f00;
  --md-ref-palette-tertiary20: #233600;
  --md-ref-palette-tertiary22: #273b00;
  --md-ref-palette-tertiary24: #2a3f00;
  --md-ref-palette-tertiary25: #2c4200;
  --md-ref-palette-tertiary30: #354e00;
  --md-ref-palette-tertiary35: #3e5b00;
  --md-ref-palette-tertiary40: #486800;
  --md-ref-palette-tertiary50: #5b8300;
  --md-ref-palette-tertiary60: #719e15;
  --md-ref-palette-tertiary70: #8bba33;
  --md-ref-palette-tertiary80: #a5d64d;
  --md-ref-palette-tertiary87: #b8ea5e;
  --md-ref-palette-tertiary90: #c0f366;
  --md-ref-palette-tertiary92: #c6f96b;
  --md-ref-palette-tertiary94: #cbff70;
  --md-ref-palette-tertiary95: #d5ff8c;
  --md-ref-palette-tertiary96: #dfffa6;
  --md-ref-palette-tertiary98: #f1ffd2;
  --md-ref-palette-tertiary99: #f9ffe6;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #0f0e11;
  --md-ref-palette-neutral5: #121014;
  --md-ref-palette-neutral6: #141316;
  --md-ref-palette-neutral10: #1c1b1e;
  --md-ref-palette-neutral12: #201f22;
  --md-ref-palette-neutral17: #2b292d;
  --md-ref-palette-neutral20: #313033;
  --md-ref-palette-neutral22: #363438;
  --md-ref-palette-neutral24: #3a383c;
  --md-ref-palette-neutral25: #3d3b3e;
  --md-ref-palette-neutral30: #48464a;
  --md-ref-palette-neutral35: #545156;
  --md-ref-palette-neutral40: #605d62;
  --md-ref-palette-neutral50: #79767a;
  --md-ref-palette-neutral60: #938f94;
  --md-ref-palette-neutral70: #aeaaae;
  --md-ref-palette-neutral80: #cac5ca;
  --md-ref-palette-neutral87: #ddd8dd;
  --md-ref-palette-neutral90: #e6e1e6;
  --md-ref-palette-neutral92: #ece7eb;
  --md-ref-palette-neutral94: #f2ecf1;
  --md-ref-palette-neutral95: #f4eff4;
  --md-ref-palette-neutral96: #f7f2f7;
  --md-ref-palette-neutral98: #fdf8fd;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #0f0d15;
  --md-ref-palette-neutral-variant5: #121017;
  --md-ref-palette-neutral-variant6: #14121a;
  --md-ref-palette-neutral-variant10: #1d1a22;
  --md-ref-palette-neutral-variant12: #211e26;
  --md-ref-palette-neutral-variant17: #2b2931;
  --md-ref-palette-neutral-variant20: #322f38;
  --md-ref-palette-neutral-variant22: #36333c;
  --md-ref-palette-neutral-variant24: #3b3840;
  --md-ref-palette-neutral-variant25: #3d3a43;
  --md-ref-palette-neutral-variant30: #49454e;
  --md-ref-palette-neutral-variant35: #54515a;
  --md-ref-palette-neutral-variant40: #615d66;
  --md-ref-palette-neutral-variant50: #7a757f;
  --md-ref-palette-neutral-variant60: #948f99;
  --md-ref-palette-neutral-variant70: #aea9b4;
  --md-ref-palette-neutral-variant80: #cac4cf;
  --md-ref-palette-neutral-variant87: #ded8e3;
  --md-ref-palette-neutral-variant90: #e7e0ec;
  --md-ref-palette-neutral-variant92: #ece6f1;
  --md-ref-palette-neutral-variant94: #f2ebf7;
  --md-ref-palette-neutral-variant95: #f5eefa;
  --md-ref-palette-neutral-variant96: #f8f1fd;
  --md-ref-palette-neutral-variant98: #fdf7ff;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #684ab7;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #e9ddff;
  --md-sys-color-on-primary-container-light: #22005d;
  --md-sys-color-primary-fixed-light: #e9ddff;
  --md-sys-color-on-primary-fixed-light: #22005d;
  --md-sys-color-primary-fixed-dim-light: #cfbdff;
  --md-sys-color-on-primary-fixed-variant-light: #50309d;
  --md-sys-color-secondary-light: #9c3388;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #ffd7ef;
  --md-sys-color-on-secondary-container-light: #3a0032;
  --md-sys-color-secondary-fixed-light: #ffd7ef;
  --md-sys-color-on-secondary-fixed-light: #3a0032;
  --md-sys-color-secondary-fixed-dim-light: #ffade6;
  --md-sys-color-on-secondary-fixed-variant-light: #7f166e;
  --md-sys-color-tertiary-light: #486800;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #c0f366;
  --md-sys-color-on-tertiary-container-light: #131f00;
  --md-sys-color-tertiary-fixed-light: #c0f366;
  --md-sys-color-on-tertiary-fixed-light: #131f00;
  --md-sys-color-tertiary-fixed-dim-light: #a5d64d;
  --md-sys-color-on-tertiary-fixed-variant-light: #354e00;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #1c1b1e;
  --md-sys-color-outline-light: #7a757f;
  --md-sys-color-inverse-on-surface-light: #f4eff4;
  --md-sys-color-inverse-surface-light: #313033;
  --md-sys-color-inverse-primary-light: #cfbdff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #684ab7;
  --md-sys-color-outline-variant-light: #cac4cf;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #fdf8fd;
  --md-sys-color-on-surface-light: #1c1b1e;
  --md-sys-color-surface-variant-light: #e7e0ec;
  --md-sys-color-on-surface-variant-light: #49454e;
  --md-sys-color-surface-container-highest-light: #e6e1e6;
  --md-sys-color-surface-container-high-light: #ece7eb;
  --md-sys-color-surface-container-light: #f2ecf1;
  --md-sys-color-surface-container-low-light: #f7f2f7;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #ddd8dd;
  --md-sys-color-surface-bright-light: #fdf8fd;
  /* dark */
  --md-sys-color-primary-dark: #cfbdff;
  --md-sys-color-on-primary-dark: #391186;
  --md-sys-color-primary-container-dark: #50309d;
  --md-sys-color-on-primary-container-dark: #e9ddff;
  --md-sys-color-primary-fixed-dark: #e9ddff;
  --md-sys-color-on-primary-fixed-dark: #22005d;
  --md-sys-color-primary-fixed-dim-dark: #cfbdff;
  --md-sys-color-on-primary-fixed-variant-dark: #50309d;
  --md-sys-color-secondary-dark: #ffade6;
  --md-sys-color-on-secondary-dark: #5e0052;
  --md-sys-color-secondary-container-dark: #7f166e;
  --md-sys-color-on-secondary-container-dark: #ffd7ef;
  --md-sys-color-secondary-fixed-dark: #ffd7ef;
  --md-sys-color-on-secondary-fixed-dark: #3a0032;
  --md-sys-color-secondary-fixed-dim-dark: #ffade6;
  --md-sys-color-on-secondary-fixed-variant-dark: #7f166e;
  --md-sys-color-tertiary-dark: #a5d64d;
  --md-sys-color-on-tertiary-dark: #233600;
  --md-sys-color-tertiary-container-dark: #354e00;
  --md-sys-color-on-tertiary-container-dark: #c0f366;
  --md-sys-color-tertiary-fixed-dark: #c0f366;
  --md-sys-color-on-tertiary-fixed-dark: #131f00;
  --md-sys-color-tertiary-fixed-dim-dark: #a5d64d;
  --md-sys-color-on-tertiary-fixed-variant-dark: #354e00;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1c1b1e;
  --md-sys-color-on-background-dark: #e6e1e6;
  --md-sys-color-outline-dark: #948f99;
  --md-sys-color-inverse-on-surface-dark: #1c1b1e;
  --md-sys-color-inverse-surface-dark: #e6e1e6;
  --md-sys-color-inverse-primary-dark: #684ab7;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #cfbdff;
  --md-sys-color-outline-variant-dark: #49454e;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #141316;
  --md-sys-color-on-surface-dark: #cac5ca;
  --md-sys-color-surface-variant-dark: #49454e;
  --md-sys-color-on-surface-variant-dark: #cac4cf;
  --md-sys-color-surface-container-highest-dark: #363438;
  --md-sys-color-surface-container-high-dark: #2b292d;
  --md-sys-color-surface-container-dark: #201f22;
  --md-sys-color-surface-container-low-dark: #1c1b1e;
  --md-sys-color-surface-container-lowest-dark: #0f0e11;
  --md-sys-color-surface-dim-dark: #141316;
  --md-sys-color-surface-bright-dark: #3a383c;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
