{% extends base %}

{% block preamble %}
{% if app_favicon %}<link rel="icon" href="{{ app_favicon }}" type="{{favicon_type}}">{% endif %}
{% if manifest %}<link rel="manifest" href="{{ manifest }}">{% endif %}
{% if meta_name %}<meta name="name" content="{{ meta_name }}">{% endif %}
{% if meta_description %}<meta name="description" content="{{ meta_description }}">{% endif %}
{% if meta_keywords %}<meta name="keywords" content="{{ meta_keywords }}">{% endif %}
{% if meta_author %}<meta name="author" content="{{ meta_author }}">{% endif %}
{% if meta_refresh %}<meta http-equiv="refresh" content="{{ meta_refresh }}">{% endif %}
{% if meta_viewport %}<meta name="viewport" content="{{ meta_viewport }}">{% endif %}
{% if base_url and base_target %}<base href="{{ base_url }}" target="{{ base_target }}">{% endif %}

{% endblock %}

{% block postamble %}
<!-- Template CSS -->
{% for css in template_resources['css'].values() %}
<link rel="stylesheet" href="{{ css }}">
{% endfor %}
{% for raw_css in template_resources['raw_css'] %}
<style type="text/css">
{{ raw_css }}
</style>
{% endfor %}

<style>
  :root {
    --header-background: {{ header_background or "var(--design-primary-color, var(--panel-primary-color))" }};
    --header-color: {{ header_color or "var(--design-primary-text-color, var(--panel-on-primary-color))" }};
    --sidebar-width: {{ sidebar_width }}px;
  }
  #header {
    --background-color: var(--header-background);
    --text-color: var(--header-color);
    background-color: var(--header-background);
    color: var(--header-color);
    {% if theme._name == 'default' %}
    box-shadow: 5px 5px 20px silver;
    {% endif %}
  }
  #sidebar {
    width: var(--sidebar-width);
  }
</style>

<!-- Template JS -->
{% for src in template_resources['js'].values() %}
<script src="{{ src }}"></script>
{% endfor %}
{% for src in template_resources['js_modules'].values() %}
<script src="{{ src }}" type="module"></script>
{% endfor %}
{% endblock %}

<!-- goes in body -->
{% block contents %}
<div id="container">
  <nav id="header">
    {% if nav %}
    <span onclick="{{ 'openNav()' if collapsed_sidebar else 'closeNav()' }}" id="sidebar-button">
      <div class="pn-bar"></div>
      <div class="pn-bar"></div>
      <div class="pn-bar"></div>
    </span>
    {% endif %}
    <div class="app-header">
      {% if app_logo %}
      <a href="{{ site_url }}">
	<img src="{{ app_logo }}" class="app-logo"></img>
      </a>
      {% endif %}
      {% if site_title %}
      <a class="title" href="{{ site_url }}" >&nbsp;{{ site_title }}</a>
      {% endif %}
      {% if site_title and app_title%}
      <span class="title">-</span>
      {% endif %}
      {% if app_title %}
      <a class="title" href="" >&nbsp;{{ app_title }}</a>
      {% endif %}
    </div>
    <div id="header-items">
    {% for doc in docs %}
    {% for root in doc.roots %}
    {% if "header" in root.tags %}
    {{ embed(root) | indent(8) }}
    {% endif %}
    {% endfor %}
    {% endfor %}
    </div>
    {% if busy %}
    <div class="pn-busy-container">
      {{ embed(roots.busy_indicator) | indent(6) }}
    </div>
    {% endif %}
  </nav>

  <div id="content">
    {% if nav %}
    <div class="sidenav {{'hidden' if collapsed_sidebar else ''}}" id="sidebar">
      <ul class="nav flex-column">
        {% for doc in docs %}
        {% for root in doc.roots %}
        {% if "nav" in root.tags %}
          {{ embed(root) | indent(8) }}
        {% endif %}
        {% endfor %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="main" id="main">
      {% if main_max_width %}
      <div style="margin-left: auto; margin-right: auto; max-width: {{main_max_width}}">
      {% endif %}

      <div id="main-grid" class="muuri-grid">
      {% for doc in docs %}
      {% for root in doc.roots %}
      {% if "main" in root.tags %}
      <div class="muuri-grid-item" data-id="{{ root.id }}">
	<span class="muuri-drag-handle"></span>
	<span class="muuri-delete-handle"></span>
        {{ embed(root) | indent(4) }}
      </div>
      {% endif %}
      {% endfor %}
      {% endfor %}

      {% if main_max_width %}
      </div>
      {% endif %}

      <div id="pn-Modal" class="pn-modal header-adjust">
	<div class="pn-modal-content">
	  <span class="pn-modalclose" id="pn-closeModal">&times;</span>
	  {% for doc in docs %}
	  {% for root in doc.roots %}
	  {% if "modal" in root.tags %}
	  {{ embed(root) | indent(10) }}
	  {% endif %}
	  {% endfor %}
	  {% endfor %}
	</div>
      </div>
    </div>
  </div>
</div>

<script>
  function openNav() {
    document.getElementById("sidebar").classList.remove("hidden");
    document.getElementById("sidebar-button").onclick = closeNav;
  }

  function closeNav() {
    document.getElementById("sidebar").classList.add("hidden");
    document.getElementById("sidebar-button").onclick = openNav;
  }

  var modal = document.getElementById("pn-Modal");
  var span = document.getElementById("pn-closeModal");

  span.onclick = function() {
    modal.style.display = "none";
  }

  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  var layout = {{ muuri_layout|json  }}
  var els = {}
  for (var el of document.querySelectorAll("[data-id]")) {
    els[el.getAttribute('data-id')] = el;
  }
  var items = []
  for (var spec of layout) {
    items.push(els[spec.id])
  }
  for (var el_id in els) {
    var el = els[el_id]
    if (!items.includes(el)) {
      items.push(el)
    }
  }
  var grid = new Muuri('.muuri-grid', {
    items: items,
    dragEnabled: true,
    dragHandle: '.muuri-drag-handle'
  });

  function resize_item(item, width, height, notify = true) {
    var child = item.children[2].children[0]
    var screen_width = document.getElementsByClassName('muuri-grid')[0].clientWidth
    if (((width/100) * screen_width) < 100) {
      width = Math.round((100/screen_width) * 100)
    }
    item.style.width = `calc( ${width}% - 20px)`;
    item.style.height = Math.round(Math.max(height, 10) / 10) * 10 + 'px';
    if (notify) {
      grid.refreshItems()
      grid.layout()
    }
    if (child && (height < child.getBoundingClientRect().height)) {
      item.style.overflowY = 'auto';
    } else {
      item.style.removeProperty('overflow-y')
    }
  }

  var hidden = []
  for (var spec of layout) {
    var el = els[spec.id]
    var item = grid.getItem(el)
    if (spec.visible === false) {
      hidden.push(item)
    }
    resize_item(el, spec.width, spec.height, false)
  }
  grid.refreshItems()
  if (hidden.length) {
    grid.hide(hidden, {instant: true, layout: false})
  }
  grid.layout()

  for (var handle of document.getElementsByClassName('muuri-delete-handle')) {
    handle.addEventListener("click", (event) => {
      grid.hide([grid.getItem(event.target.parentElement)], {instant: true})
    })
  }

  window.resizeableGrid = interact('.muuri-grid-item')
  .resizable({
    // resize from all edges and corners
    edges: { right: true, bottom: true },
    listeners: {
      end (event) {
	event.target.style.removeProperty('border')
	event.target.style.removeProperty('border-radius')
      },
      move (event) {
	var style = getComputedStyle(event.target)
	var top = parseInt(style.getPropertyValue('padding-top').slice(0, -2))
	var bottom = parseInt(style.getPropertyValue('padding-bottom').slice(0, -2))
	var screen_width = window.muuriGrid.getElement().clientWidth
	resize_item(event.target, Math.round((event.rect.width/screen_width)*100), event.rect.height-(top+bottom))
      }
    }
  })

  window.muuriGrid = grid;

  window.addEventListener('resize', function(event) {
    var screen_width = document.getElementsByClassName('muuri-grid')[0].clientWidth
    for (const item of grid.getItems()) {
      var width = item.getWidth()
      if (width < 100) {
	width = Math.round((100/screen_width) * 100)
	resize_item(item.getElement(), width, item.getHeight(), false)
      }
    }
    grid.refreshItems()
    grid.layout()
  }, true);
</script>

{{ embed(roots.js_area) }}
{{ embed(roots.actions) }}
{{ embed(roots.location) }}
{% if notifications %}
{{ embed(roots.notifications) }}
{% endif %}
{% if browser_info %}
{{ embed(roots.browser_info) }}
{% endif %}

{% endblock %}
