{% extends "vanilla/vanilla.html" %}

{% block header_end %}
{% if editable %}
<div id="header-indicators">
  <div id="grid-reset"></div>
  {% if busy %}
  <div class="pn-busy-container">
    {{ embed(roots.busy_indicator) | indent(6) }}
  </div>
  {% endif %}
</div>
{% endif %}
{% endblock %}

{% block main %}
<div class="main" id="main">
  {% if main_max_width %}
  <div style="margin-left: auto; margin-right: auto; max-width: {{main_max_width}}">
  {% endif %}

  <div id="main-grid" class="muuri-grid">
    {% for doc in docs %}
    {% for root in doc.roots %}
    {% if "main" in root.tags %}
    <div class="muuri-grid-item {{ 'muuri-item-shown' if layout.get(root.id, {'visible': True}).get('visible', True) else 'muuri-item-hidden' }}" data-id="{{ root.id }}">
      <span class="muuri-handle drag"></span>
      <span class="muuri-handle delete"></span>
      {{ embed(root) | indent(4) }}
      <span class="muuri-handle resize"></span>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </div>
  {% if main_max_width %}
  </div>
  {% endif %}

  <div id="pn-Modal" class="pn-modal header-adjust">
    <div class="pn-modal-content">
      <span class="pn-modalclose" id="pn-closeModal">&times;</span>
      {% for doc in docs %}
      {% for root in doc.roots %}
      {% if "modal" in root.tags %}
      {{ embed(root) | indent(10) }}
      {% endif %}
      {% endfor %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
  function openNav() {
    document.getElementById("sidebar").classList.remove("hidden");
    document.getElementById("sidebar-button").onclick = closeNav;
  }

  function closeNav() {
    document.getElementById("sidebar").classList.add("hidden");
    document.getElementById("sidebar-button").onclick = openNav;
  }

  var modal = document.getElementById("pn-Modal");
  var span = document.getElementById("pn-closeModal");

  span.onclick = function() {
    modal.style.display = "none";
  }

  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  function scroll(item) {
    var child = item.children[2].children[0]
    if (child && (child.scrollHeight > item.clientHeight)) {
      item.style.overflowY = 'auto';
    } else {
      item.style.removeProperty('overflow-y')
    }
  }

  function resize_item(item, width, height, notify = true) {
    var screen_width = document.getElementsByClassName('muuri-grid')[0].clientWidth-20
    if (((width/100) * screen_width) < 100) {
      width = (100/screen_width) * 100;
    }
    width = Math.min(100, width);
    item.style.width = `calc( ${width}% - 40px)`;
    item.style.height = Math.round(Math.max(height, 10) / 10) * 10 + 'px';
    if (notify) {
      grid.refreshItems()
      grid.layout()
    }
    scroll(item)
  }

  // Initialize grid
  var layout = {{ muuri_layout|json  }}
  var ids = layout.map(s => s.id)
  var grid = new Muuri('.muuri-grid', {
    sortData: {id: (item, el) => {
      var index = ids.indexOf(el.getAttribute('data-id'))
      return index === -1 ? Infinity : index;
    }},
    dragEnabled: {{ editable|json }},
    dragHandle: '.muuri-handle.drag',
    layout: {fillGaps: true}
  });
  var hidden = [...document.querySelectorAll('.muuri-item-hidden')]
  if (hidden.length) {
    grid.hide(hidden.map(el => grid.getItem(el)), {instant: true});
  }
  grid.refreshSortData();
  grid.sort('id');
  for (var spec of layout) {
    if (spec.width && spec.height) {
      resize_item(document.querySelector(`[data-id="${spec.id}"]`), spec.width, spec.height, false)
    }
  }
  grid.refreshItems()
  grid.layout()

  window.muuriGrid = grid;

  window.addEventListener('resize', function(event) {
    for (const item of grid.getItems()) {
      scroll(item.getElement())
    }
    grid.layout()
  }, true);

  // Set up reset, hide and resize actions
  {% if editable %}
  function reset() {
    var items = grid.getItems()
    for (var item of items) {
      var el = item.getElement()
      var style = getComputedStyle(el)
      var top = parseInt(style.getPropertyValue('padding-top').slice(0, -2))
      var bottom = parseInt(style.getPropertyValue('padding-bottom').slice(0, -2))
      if (!item.isVisible()) {
	var height = 100
      } else {
	var height = item.getHeight()
      }
      console.log(el)
      resize_item(el, 100, height-(top+bottom), false)
    }
    grid.refreshItems()
    grid.show(items)
    var order = []
    for (var el of document.getElementsByClassName('muuri-grid-item')) {
      order.push(grid.getItem(el))
    }
    grid.sort(order)
  }

  var reset_button = document.getElementById("grid-reset")
  reset_button.addEventListener("click", function() {
    reset()
  })

  for (var handle of document.querySelectorAll('.muuri-handle.delete')) {
    handle.addEventListener("click", (event) => {
      grid.hide([grid.getItem(event.target.parentElement)], {instant: true})
    })
  }

  window.resizeableGrid = interact('.muuri-grid-item')
  .resizable({
    // resize from all edges and corners
    edges: { right: '.muuri-handle.resize', bottom: '.muuri-handle.resize' },
    listeners: {
      end (event) {
	event.target.style.removeProperty('border')
	event.target.style.removeProperty('border-radius')
      },
      move (event) {
	var style = getComputedStyle(event.target)
	var top = parseInt(style.getPropertyValue('padding-top').slice(0, -2))
	var bottom = parseInt(style.getPropertyValue('padding-bottom').slice(0, -2))
	var screen_width = window.muuriGrid.getElement().clientWidth-20;
	resize_item(event.target, (event.rect.width/screen_width)*100, event.rect.height-(top+bottom))
      }
    }
  })
  {% endif %}
</script>
{% endblock %}

{% block state_roots %}
{{ super() }}
{{ embed(roots.editor) }}
{% endblock %}
