.widget-box {
	min-height: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3 !important;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}