<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>title</title>
    <script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.2.7/webcomponents-loader.js"></script>
    <script type="module" src="https://unpkg.com/wired-slider@0.6.0/lib/wired-slider.js?module"></script>
</head>

<body>
    <wired-slider id="slider" value="0" knobradius="15" class="wired-rendered" style="margin: 0px"></wired-slider>
    <br />
    <wired-slider knobradius="15" value="5" min="5" max="15"></wired-slider>
</body>

</html>

<!-- http://localhost:8000/panel/components/wired_slider_issue.html -->