/* fast fast_template.css */
body {
  margin: 0px;
  overflow: hidden;
}

#container {
  padding:0px;
  width: 100vw;
}

#header{
  display: flex;
  align-items: center;
  padding: 10px;
  height: 44px;
}

#header-items {
  overflow: hidden;
  width: 100%;
  padding-left: 10px;
}

.theme-toggle-icon {
  height: 25px;
  width: 25px;
  margin-top: 5px;
}

#sidebar-button {
  font-size:30px;
  cursor:pointer;
  opacity: 0.9;
}
#sidebar-button:hover {
  opacity: 1.0;
}

a.navbar-brand {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  font-size: 1.5em;
}
.app-header {
  display: contents;
  padding-left: 10px;
  white-space: nowrap;
}
.title {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  font-weight: 400;
  font-size: var(--type-ramp-plus-3-font-size);
  line-height: var(--type-ramp-plus-3-line-height);
  white-space: nowrap;
  margin-left: 0.5em;
}

img.app-logo {
  font-size: 28px;
  height: 30px;
  max-width: inherit;
}

.bk-root .bk.loader.light::after {
  background-color: var(--neutral-foreground-rest);
}

.pn-bar {
  width: 20px;
  height: 2px;
  background-color: var(--neutral-foreground-rest);
  margin: 4px 0;
}

.bk-canvas {
  padding-right: 2px !important;
}

#content {
  height: calc(100vh - 76px);
  margin: 0px;
  width: 100vw;
  display: flex;
}

#sidebar-button {
  margin-left: 10px;
  margin-right:  10px;
}

#sidebar {
  transition: all 0.2s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
  height: calc(100vh - 76px);
  overflow-y: scroll;
  padding-left: 5px;
  padding-right: 10px;
  margin-right: 12px;
}

#main {
  transition: all 0.2s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  width: 100%;
  height: calc(100vh - 76px);
  padding: 10px;
  padding-right: 25px;
  overflow-y: scroll;
}

#sidebarCollapse {
  background: none;
  border: none;
}

.sidenav {
  padding-top: 15px;
  position: absolute;
  overflow-y: scroll;
}

.bk.card-title {
  position: absolute !important;
}
.sidenav fast-menu {
  width: 100%;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: var(--neutral-foreground-rest);
  font-size: var(--type-ramp-base-font-size);
  line-height: var(--type-ramp-base-line-height);
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav fast-menu {
  background-color: var(--background-color);
  box-shadow: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.nav.flex-column {
  padding-inline-start: 0px;
}

.pn-modal-close {
  position: absolute;
  right: 10%;
  z-index: 100;
}

.pn-modal-close:hover,
.pn-modal-close:focus {
  text-decoration: none;
  cursor: pointer;
}

.pn-busy-container {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: auto;
}

html {
  scrollbar-face-color: var( --neutral-fill-rest);
  scrollbar-base-color: var( --neutral-fill-rest);
  scrollbar-3dlight-color: var( --neutral-fill-rest);
  scrollbar-highlight-color: var( --neutral-fill-rest);
  scrollbar-track-color: var(--background-color);
  scrollbar-arrow-color: var(--background-color);
  scrollbar-shadow-color: var( --neutral-fill-rest);
}

::-webkit-scrollbar-button {  background-color: var( --neutral-fill-rest); }
::-webkit-scrollbar-track {  background-color: var( --neutral-fill-rest);}
::-webkit-scrollbar-track-piece { background-color: var(--background-color)}
::-webkit-scrollbar-thumb { height: 50px; background-color: var( --neutral-fill-rest); border-radius: var(--corner-radius);}
::-webkit-scrollbar-corner { background-color: var();}
::-webkit-resizer { background-color: var( --neutral-fill-rest);}

#header-items {
  color: var(--neutral-foreground-rest);
}

#made-with-panel {
  padding: .50rem;
  text-align: center;
  font-size: .75rem;
}

.fullscreen-button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 24px;
  height: 24px;
  z-index: 10000;
  opacity: 0;
  transition-delay: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.fullscreen-button:hover {
  transition: 0.5s;
  opacity: 1;
}

.fullscreen-button:focus {
  opacity: 1;
}
div.pn-wrapper {
  position: relative;
  background: var(--background-color)
}
