#main {
    padding: 0;
    overflow: unset;
}

.reveal .slides section {
    height: 100%;
    display: flex !important;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
