:root {
    --panel-primary-color: #0072B5;
    --panel-primary-rgb: 0,114,181;
    --panel-on-primary-color: #ffffff;
    --panel-secondary-color: #6f6f6f;
    --panel-secondary-rgb: 111,111,111;
    --panel-on-secondary-color: #ffffff;
    --panel-body-background: #212529;
    --panel-body-color: #ffffff;
    --panel-surface-color: #3B3B3B;
    --panel-on-surface-color: #ffffff;
}
