:root {
    --panel-primary-color: #0072B5;
    --panel-primary-rgb: 0,114,181;
    --panel-on-primary-color: #ffffff;
    --panel-on-primary-rgb: 255,255,255;
    --panel-secondary-color: #E1E1E1;
    --panel-secondary-rgb: 66,67,66;
    --panel-on-secondary-color: #ffffff;
    --panel-on-secondary-rgb: 255,255,255;
    --panel-body-color: #ffffff;
    --panel-body-rgb: 255,255,255;
    --panel-on-body-color: #212529;
    --panel-on-body-rgb: 33,37,41;
    --panel-surface-color: #E1E1E1;
    --panel-surface-rgb: 209, 209, 209;
    --panel-on-surface-color: #000000;
    --panel-on-surface-rgb: 0,0,0;
}
