:host, :root {
    --panel-primary-color: #0072B5;
    --panel-primary-rgb: 0,114,181;
    --panel-on-primary-color: #ffffff;
    --panel-on-primary-rgb: 255,255,255;
    --panel-secondary-color: #343a40;
    --panel-secondary-rgb: 52,58,64;
    --panel-on-secondary-color: #ffffff;
    --panel-on-secondary-rgb: 255,255,255;
    --panel-background-color: #212529;
    --panel-background-rgb: 33,37,41;
    --panel-on-background-color: #ffffff;
    --panel-on-background-rgb: 255,255,255;
    --panel-surface-color: #2b3035;
    --panel-surface-rgb: 59,59,59;
    --panel-on-surface-color: #ffffff;
    --panel-on-surface-rgb: 255,255,255;
    --code-bg-color: #263238;
    --code-text-color: #82AAFF;
    --primary-bg-color: #0d6efd;
    --secondary-bg-color: #6c757d;
    --success-bg-color: #198754;
    --danger-bg-color: #dc3545;
    --warning-bg-color: #ffc107;
    --info-bg-color: #0dcaf0;
    --light-bg-color: #f8f9fa;
    --dark-bg-color: #212529;
    --primary-text-color: #ffffff;
    --secondary-text-color: #ffffff;
    --success-text-color: #ffffff;
    --danger-text-color: #ffffff;
    --warning-text-color: #000000;
    --info-text-color: #000000;
    --light-text-color: #000000;
    --dark-text-color: #ffffff;
    --primary-bg-subtle: #cfe2ff;
    --secondary-bg-subtle: #f8f9fa;
    --success-bg-subtle: #d1e7dd;
    --info-bg-subtle: #cff4fc;
    --warning-bg-subtle: #fff3cd;
    --danger-bg-subtle: #f8d7da;
    --light-bg-subtle: #fcfcfd;
    --dark-bg-subtle: #ced4da;
    --primary-text-color: #6ea8fe;
    --secondary-text-color: #dee2e6;
    --success-text-color: #75b798;
    --info-text-color: #6edff6;
    --warning-text-color: #ffda6a;
    --danger-text-color: #ea868f;
    --light-text-color: #f8f9fa;
    --dark-text-color: #dee2e6;
    --primary-border-subtle: #9ec5fe;
    --secondary-border-subtle: #e9ecef;
    --success-border-subtle: #a3cfbb;
    --info-border-subtle: #9eeaf9;
    --warning-border-subtle: #ffe69c;
    --danger-border-subtle: #f1aeb5;
    --light-border-subtle: #e9ecef;
    --dark-border-subtle: #adb5bd;
}
