:host, :root {
    --background-color: var(--jp-layout-color0, var(--panel-background-color));
    --background-text-color: var(--jp-widgets-label-color, var(--panel-on-background-color));
    --surface-color: var(--jp-layout-color2, var(--panel-surface-color));
    --surface-text-color: var(--jp-ui-font-color2, var(--panel-on-surface-color));
}

.bk-input {
    background-color: var(--background-color);
    color: var(--text-color);
}

.bk-input[disabled] {
    background-color: var(--surface-color);
    color: var(--surface-text-color);
    opacity: 0.5;
}
