body {
  display: flex;
  height: 100vh;
  font-family: roboto;
  margin: 0px;
}

.main-area {
  flex: auto;
  overflow: auto;
  position: relative;
  border-color: rgba(64, 64, 64);
  border-left-width: 1px;
  border-left-style: solid;
}

.main-content {
  height: 100%;
}

#header {
  position: absolute;
  height: 64px;
  z-index: 7;
  background-color: black;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
}

#sidebar {
  background-color:rgb(34, 34, 34);
  color: white;
}

.header-adjust {
  padding-top: 64px;
}

.header-title {
  font-size: 1.5em;
  padding-left: 1.5em;
  font: 1.5em Arial, sans-serif;
  color: white;
  text-align: center;
}

p.bk.golden-card-button {
  display: none;
}

.bk.card {
  background-color: white;
}

.bk.card-title {
  font-size: 1.5em;
  font-weight: bold;
}

.bk.card-button {
  display: none;
}

.bk-canvas {
  padding-right: 2px !important;
}


.pn-modal {
  overflow-y: scroll;
  width: 100%;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
}

.pn-modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 20px 20px 20px;
  border: 1px solid #888;
  width: 80% !important;
}

.pn-modal-close {
  position: absolute;
  right: 25px;
  z-index: 100;
}

.pn-modal-close:hover,
.pn-modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.pn-busy-container {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: auto;
}
