{% extends base %}	

<!-- goes in body -->	
{% block postamble %}	
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>	
<script type="text/javascript" src="https://golden-layout.com/files/latest/js/goldenlayout.js"></script>	
<link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-base.css" />	
{% endblock %}	

<!-- goes in body -->	
{% block contents %}	
<header class="app-bar" id="header">	
  <div class="">	
    <section class="">	
      <span class="header-title">{{ app_title }}</span>	
	  {% for doc in docs %}	
      {% for root in doc.roots %}	
      {% if "header" in root.tags %}	
      {{ embed(root) | indent(8) }}	
      {% endif %}	
      {% endfor %}	
      {% endfor %}	
    </section>	
  </div>	
</header>	

<div class="main-area header-adjust" id="main">	
  <main class="main-content" id="main-content"></main>	
</div>	

<script>	
  var config = {	
    content: [
        {
            type: 'row', content: [
                {type: 'component', componentName: 'view', componentState: {title: "Sidebar", model: '{% for doc in docs %}{% for root in doc.roots %}{% if "nav" in root.tags %} {{ embed(root) }} {% endif %}{% endfor %}{% endfor %}'}},
                {
                    type: 'stack', content: [	
                        {% for doc in docs %}	
                        {% for root in doc.roots %}	
                        {% if "main" in root.tags%}	
                        {type: 'component', componentName: 'view', componentState: {model: '{{ embed(root) }}', title: "{{ 'Content' }}" }},	
                        {% endif %}	
                        {% endfor %}	
                        {% endfor %}	
                    ]
                }
            ]
        }        
    ]	
  };	

  var myLayout = new GoldenLayout(config, $('#main-content'));	
  myLayout.registerComponent('view', function( container, componentState ){	
    const {width, css_classes} = componentState	
    if(width)	
      container.on('open', () => container.setSize(width, container.height))	
    if (css_classes)	
      css_classes.map((item) => container.getElement().addClass(item))	
    container.setTitle(componentState.title)
    container.getElement().html(componentState.model);
    container.on('resize', () => window.dispatchEvent(new Event('resize')))	
    window.dispatchEvent(new Event('resize'));	
  });	
  myLayout.init()	
</script>	


{% endblock %}