html[data-theme="light"] .highlight pre { line-height: 125%; }
html[data-theme="light"] .highlight td.linenos .normal { color: #37474F; background-color: #263238; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight span.linenos { color: #37474F; background-color: #263238; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight td.linenos .special { color: #607A86; background-color: #263238; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight span.linenos.special { color: #607A86; background-color: #263238; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight .hll { background-color: #2C3B41 }
html[data-theme="light"] .highlight { background: #263238; color: #EEFFFF }
html[data-theme="light"] .highlight .c { color: #546E7A; font-style: italic } /* Comment */
html[data-theme="light"] .highlight .err { color: #FF5370 } /* Error */
html[data-theme="light"] .highlight .esc { color: #89DDFF } /* Escape */
html[data-theme="light"] .highlight .g { color: #EEFFFF } /* Generic */
html[data-theme="light"] .highlight .k { color: #BB80B3 } /* Keyword */
html[data-theme="light"] .highlight .l { color: #C3E88D } /* Literal */
html[data-theme="light"] .highlight .n { color: #EEFFFF } /* Name */
html[data-theme="light"] .highlight .o { color: #89DDFF } /* Operator */
html[data-theme="light"] .highlight .p { color: #89DDFF } /* Punctuation */
html[data-theme="light"] .highlight .ch { color: #546E7A; font-style: italic } /* Comment.Hashbang */
html[data-theme="light"] .highlight .cm { color: #546E7A; font-style: italic } /* Comment.Multiline */
html[data-theme="light"] .highlight .cp { color: #546E7A; font-style: italic } /* Comment.Preproc */
html[data-theme="light"] .highlight .cpf { color: #546E7A; font-style: italic } /* Comment.PreprocFile */
html[data-theme="light"] .highlight .c1 { color: #546E7A; font-style: italic } /* Comment.Single */
html[data-theme="light"] .highlight .cs { color: #546E7A; font-style: italic } /* Comment.Special */
html[data-theme="light"] .highlight .gd { color: #FF5370 } /* Generic.Deleted */
html[data-theme="light"] .highlight .ge { color: #89DDFF } /* Generic.Emph */
html[data-theme="light"] .highlight .ges { color: #FFCB6B } /* Generic.EmphStrong */
html[data-theme="light"] .highlight .gr { color: #FF5370 } /* Generic.Error */
html[data-theme="light"] .highlight .gh { color: #C3E88D } /* Generic.Heading */
html[data-theme="light"] .highlight .gi { color: #C3E88D } /* Generic.Inserted */
html[data-theme="light"] .highlight .go { color: #546E7A } /* Generic.Output */
html[data-theme="light"] .highlight .gp { color: #FFCB6B } /* Generic.Prompt */
html[data-theme="light"] .highlight .gs { color: #FF5370 } /* Generic.Strong */
html[data-theme="light"] .highlight .gu { color: #89DDFF } /* Generic.Subheading */
html[data-theme="light"] .highlight .gt { color: #FF5370 } /* Generic.Traceback */
html[data-theme="light"] .highlight .kc { color: #89DDFF } /* Keyword.Constant */
html[data-theme="light"] .highlight .kd { color: #BB80B3 } /* Keyword.Declaration */
html[data-theme="light"] .highlight .kn { color: #89DDFF; font-style: italic } /* Keyword.Namespace */
html[data-theme="light"] .highlight .kp { color: #89DDFF } /* Keyword.Pseudo */
html[data-theme="light"] .highlight .kr { color: #BB80B3 } /* Keyword.Reserved */
html[data-theme="light"] .highlight .kt { color: #BB80B3 } /* Keyword.Type */
html[data-theme="light"] .highlight .ld { color: #C3E88D } /* Literal.Date */
html[data-theme="light"] .highlight .m { color: #F78C6C } /* Literal.Number */
html[data-theme="light"] .highlight .s { color: #C3E88D } /* Literal.String */
html[data-theme="light"] .highlight .na { color: #BB80B3 } /* Name.Attribute */
html[data-theme="light"] .highlight .nb { color: #82AAFF } /* Name.Builtin */
html[data-theme="light"] .highlight .nc { color: #FFCB6B } /* Name.Class */
html[data-theme="light"] .highlight .no { color: #EEFFFF } /* Name.Constant */
html[data-theme="light"] .highlight .nd { color: #82AAFF } /* Name.Decorator */
html[data-theme="light"] .highlight .ni { color: #89DDFF } /* Name.Entity */
html[data-theme="light"] .highlight .ne { color: #FFCB6B } /* Name.Exception */
html[data-theme="light"] .highlight .nf { color: #82AAFF } /* Name.Function */
html[data-theme="light"] .highlight .nl { color: #82AAFF } /* Name.Label */
html[data-theme="light"] .highlight .nn { color: #FFCB6B } /* Name.Namespace */
html[data-theme="light"] .highlight .nx { color: #EEFFFF } /* Name.Other */
html[data-theme="light"] .highlight .py { color: #FFCB6B } /* Name.Property */
html[data-theme="light"] .highlight .nt { color: #FF5370 } /* Name.Tag */
html[data-theme="light"] .highlight .nv { color: #89DDFF } /* Name.Variable */
html[data-theme="light"] .highlight .ow { color: #89DDFF; font-style: italic } /* Operator.Word */
html[data-theme="light"] .highlight .pm { color: #89DDFF } /* Punctuation.Marker */
html[data-theme="light"] .highlight .w { color: #EEFFFF } /* Text.Whitespace */
html[data-theme="light"] .highlight .mb { color: #F78C6C } /* Literal.Number.Bin */
html[data-theme="light"] .highlight .mf { color: #F78C6C } /* Literal.Number.Float */
html[data-theme="light"] .highlight .mh { color: #F78C6C } /* Literal.Number.Hex */
html[data-theme="light"] .highlight .mi { color: #F78C6C } /* Literal.Number.Integer */
html[data-theme="light"] .highlight .mo { color: #F78C6C } /* Literal.Number.Oct */
html[data-theme="light"] .highlight .sa { color: #BB80B3 } /* Literal.String.Affix */
html[data-theme="light"] .highlight .sb { color: #C3E88D } /* Literal.String.Backtick */
html[data-theme="light"] .highlight .sc { color: #C3E88D } /* Literal.String.Char */
html[data-theme="light"] .highlight .dl { color: #EEFFFF } /* Literal.String.Delimiter */
html[data-theme="light"] .highlight .sd { color: #546E7A; font-style: italic } /* Literal.String.Doc */
html[data-theme="light"] .highlight .s2 { color: #C3E88D } /* Literal.String.Double */
html[data-theme="light"] .highlight .se { color: #EEFFFF } /* Literal.String.Escape */
html[data-theme="light"] .highlight .sh { color: #C3E88D } /* Literal.String.Heredoc */
html[data-theme="light"] .highlight .si { color: #89DDFF } /* Literal.String.Interpol */
html[data-theme="light"] .highlight .sx { color: #C3E88D } /* Literal.String.Other */
html[data-theme="light"] .highlight .sr { color: #89DDFF } /* Literal.String.Regex */
html[data-theme="light"] .highlight .s1 { color: #C3E88D } /* Literal.String.Single */
html[data-theme="light"] .highlight .ss { color: #89DDFF } /* Literal.String.Symbol */
html[data-theme="light"] .highlight .bp { color: #89DDFF } /* Name.Builtin.Pseudo */
html[data-theme="light"] .highlight .fm { color: #82AAFF } /* Name.Function.Magic */
html[data-theme="light"] .highlight .vc { color: #89DDFF } /* Name.Variable.Class */
html[data-theme="light"] .highlight .vg { color: #89DDFF } /* Name.Variable.Global */
html[data-theme="light"] .highlight .vi { color: #89DDFF } /* Name.Variable.Instance */
html[data-theme="light"] .highlight .vm { color: #82AAFF } /* Name.Variable.Magic */
html[data-theme="light"] .highlight .il { color: #F78C6C } /* Literal.Number.Integer.Long */
html[data-theme="dark"] .highlight pre { line-height: 125%; }
html[data-theme="dark"] .highlight td.linenos .normal { color: #37474F; background-color: #263238; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight span.linenos { color: #37474F; background-color: #263238; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight td.linenos .special { color: #607A86; background-color: #263238; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight span.linenos.special { color: #607A86; background-color: #263238; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight .hll { background-color: #2C3B41 }
html[data-theme="dark"] .highlight { background: #263238; color: #EEFFFF }
html[data-theme="dark"] .highlight .c { color: #546E7A; font-style: italic } /* Comment */
html[data-theme="dark"] .highlight .err { color: #FF5370 } /* Error */
html[data-theme="dark"] .highlight .esc { color: #89DDFF } /* Escape */
html[data-theme="dark"] .highlight .g { color: #EEFFFF } /* Generic */
html[data-theme="dark"] .highlight .k { color: #BB80B3 } /* Keyword */
html[data-theme="dark"] .highlight .l { color: #C3E88D } /* Literal */
html[data-theme="dark"] .highlight .n { color: #EEFFFF } /* Name */
html[data-theme="dark"] .highlight .o { color: #89DDFF } /* Operator */
html[data-theme="dark"] .highlight .p { color: #89DDFF } /* Punctuation */
html[data-theme="dark"] .highlight .ch { color: #546E7A; font-style: italic } /* Comment.Hashbang */
html[data-theme="dark"] .highlight .cm { color: #546E7A; font-style: italic } /* Comment.Multiline */
html[data-theme="dark"] .highlight .cp { color: #546E7A; font-style: italic } /* Comment.Preproc */
html[data-theme="dark"] .highlight .cpf { color: #546E7A; font-style: italic } /* Comment.PreprocFile */
html[data-theme="dark"] .highlight .c1 { color: #546E7A; font-style: italic } /* Comment.Single */
html[data-theme="dark"] .highlight .cs { color: #546E7A; font-style: italic } /* Comment.Special */
html[data-theme="dark"] .highlight .gd { color: #FF5370 } /* Generic.Deleted */
html[data-theme="dark"] .highlight .ge { color: #89DDFF } /* Generic.Emph */
html[data-theme="dark"] .highlight .ges { color: #FFCB6B } /* Generic.EmphStrong */
html[data-theme="dark"] .highlight .gr { color: #FF5370 } /* Generic.Error */
html[data-theme="dark"] .highlight .gh { color: #C3E88D } /* Generic.Heading */
html[data-theme="dark"] .highlight .gi { color: #C3E88D } /* Generic.Inserted */
html[data-theme="dark"] .highlight .go { color: #546E7A } /* Generic.Output */
html[data-theme="dark"] .highlight .gp { color: #FFCB6B } /* Generic.Prompt */
html[data-theme="dark"] .highlight .gs { color: #FF5370 } /* Generic.Strong */
html[data-theme="dark"] .highlight .gu { color: #89DDFF } /* Generic.Subheading */
html[data-theme="dark"] .highlight .gt { color: #FF5370 } /* Generic.Traceback */
html[data-theme="dark"] .highlight .kc { color: #89DDFF } /* Keyword.Constant */
html[data-theme="dark"] .highlight .kd { color: #BB80B3 } /* Keyword.Declaration */
html[data-theme="dark"] .highlight .kn { color: #89DDFF; font-style: italic } /* Keyword.Namespace */
html[data-theme="dark"] .highlight .kp { color: #89DDFF } /* Keyword.Pseudo */
html[data-theme="dark"] .highlight .kr { color: #BB80B3 } /* Keyword.Reserved */
html[data-theme="dark"] .highlight .kt { color: #BB80B3 } /* Keyword.Type */
html[data-theme="dark"] .highlight .ld { color: #C3E88D } /* Literal.Date */
html[data-theme="dark"] .highlight .m { color: #F78C6C } /* Literal.Number */
html[data-theme="dark"] .highlight .s { color: #C3E88D } /* Literal.String */
html[data-theme="dark"] .highlight .na { color: #BB80B3 } /* Name.Attribute */
html[data-theme="dark"] .highlight .nb { color: #82AAFF } /* Name.Builtin */
html[data-theme="dark"] .highlight .nc { color: #FFCB6B } /* Name.Class */
html[data-theme="dark"] .highlight .no { color: #EEFFFF } /* Name.Constant */
html[data-theme="dark"] .highlight .nd { color: #82AAFF } /* Name.Decorator */
html[data-theme="dark"] .highlight .ni { color: #89DDFF } /* Name.Entity */
html[data-theme="dark"] .highlight .ne { color: #FFCB6B } /* Name.Exception */
html[data-theme="dark"] .highlight .nf { color: #82AAFF } /* Name.Function */
html[data-theme="dark"] .highlight .nl { color: #82AAFF } /* Name.Label */
html[data-theme="dark"] .highlight .nn { color: #FFCB6B } /* Name.Namespace */
html[data-theme="dark"] .highlight .nx { color: #EEFFFF } /* Name.Other */
html[data-theme="dark"] .highlight .py { color: #FFCB6B } /* Name.Property */
html[data-theme="dark"] .highlight .nt { color: #FF5370 } /* Name.Tag */
html[data-theme="dark"] .highlight .nv { color: #89DDFF } /* Name.Variable */
html[data-theme="dark"] .highlight .ow { color: #89DDFF; font-style: italic } /* Operator.Word */
html[data-theme="dark"] .highlight .pm { color: #89DDFF } /* Punctuation.Marker */
html[data-theme="dark"] .highlight .w { color: #EEFFFF } /* Text.Whitespace */
html[data-theme="dark"] .highlight .mb { color: #F78C6C } /* Literal.Number.Bin */
html[data-theme="dark"] .highlight .mf { color: #F78C6C } /* Literal.Number.Float */
html[data-theme="dark"] .highlight .mh { color: #F78C6C } /* Literal.Number.Hex */
html[data-theme="dark"] .highlight .mi { color: #F78C6C } /* Literal.Number.Integer */
html[data-theme="dark"] .highlight .mo { color: #F78C6C } /* Literal.Number.Oct */
html[data-theme="dark"] .highlight .sa { color: #BB80B3 } /* Literal.String.Affix */
html[data-theme="dark"] .highlight .sb { color: #C3E88D } /* Literal.String.Backtick */
html[data-theme="dark"] .highlight .sc { color: #C3E88D } /* Literal.String.Char */
html[data-theme="dark"] .highlight .dl { color: #EEFFFF } /* Literal.String.Delimiter */
html[data-theme="dark"] .highlight .sd { color: #546E7A; font-style: italic } /* Literal.String.Doc */
html[data-theme="dark"] .highlight .s2 { color: #C3E88D } /* Literal.String.Double */
html[data-theme="dark"] .highlight .se { color: #EEFFFF } /* Literal.String.Escape */
html[data-theme="dark"] .highlight .sh { color: #C3E88D } /* Literal.String.Heredoc */
html[data-theme="dark"] .highlight .si { color: #89DDFF } /* Literal.String.Interpol */
html[data-theme="dark"] .highlight .sx { color: #C3E88D } /* Literal.String.Other */
html[data-theme="dark"] .highlight .sr { color: #89DDFF } /* Literal.String.Regex */
html[data-theme="dark"] .highlight .s1 { color: #C3E88D } /* Literal.String.Single */
html[data-theme="dark"] .highlight .ss { color: #89DDFF } /* Literal.String.Symbol */
html[data-theme="dark"] .highlight .bp { color: #89DDFF } /* Name.Builtin.Pseudo */
html[data-theme="dark"] .highlight .fm { color: #82AAFF } /* Name.Function.Magic */
html[data-theme="dark"] .highlight .vc { color: #89DDFF } /* Name.Variable.Class */
html[data-theme="dark"] .highlight .vg { color: #89DDFF } /* Name.Variable.Global */
html[data-theme="dark"] .highlight .vi { color: #89DDFF } /* Name.Variable.Instance */
html[data-theme="dark"] .highlight .vm { color: #82AAFF } /* Name.Variable.Magic */
html[data-theme="dark"] .highlight .il { color: #F78C6C } /* Literal.Number.Integer.Long */