
:host {
    --button-height: 40px;
}

.bk-btn-group { 
    height: var(--button-height);
}

.bk-btn-group button {
    border-radius: calc(var(--button-height) / 2);

    /* TODO : check the padding with an icon button */
    /* https://m3.material.io/components/buttons/specs */
    padding-left: 24px;
    padding-right: 24px;

    /* copied from typography -> .label-large */
    font-family: var(--md-sys-typescale-label-large-font-family-name);
    font-style: var(--md-sys-typescale-label-large-font-family-style);
    font-weight: var(--md-sys-typescale-label-large-font-weight);
    font-size: var(--md-sys-typescale-label-large-font-size);
    letter-spacing: var(--md-sys-typescale-label-large-tracking);
    line-height: var(--md-sys-typescale-label-large-height);
    text-transform: var(--md-sys-typescale-label-large-text-transform);
    text-decoration: var(--md-sys-typescale-label-large-text-decoration);
}


/* 
.bk-btn-primary {
    border-color: var(--md-sys-color-outline);
    color: var(--md-sys-color-on-primary);
} */
.bk-btn-primary:hover {
    /* background-color: var(--md-sys-color-primary-fixed) !important; */
}


/* Primary  */ 
:host(.solid) .bk-btn-primary {
    color:  var(--md-sys-color-on-primary) !important; 
    background-color:  var(--md-sys-color-primary) !important
}

:host(.outline) .bk-btn-primary {
    background-color: none !important;
    border-color: var(--md-sys-color-outline);
    color: var(--md-sys-color-primary);
}
:host(.outline) .bk-btn-primary:hover {
    background-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-hover-state-layer-opacity));
    color: var(--md-sys-color-primary);
}


/* Secondary / default  */ 
:host(.solid) .bk-btn-default {
    color:  var(--md-sys-color-on-secondary-container) !important; 
    background-color:  var(--md-sys-color-secondary-container) !important
}
:host(.outline) .bk-btn-default {
    border-color:  var(--md-sys-color-secondary) !important; 
    color:  var(--md-sys-color-secondary) !important; 
}
:host(.outline) .bk-btn-default:hover {
    background-color: rgba(var(--md-sys-color-secondary-rgb), var(--md-sys-state-hover-state-layer-opacity));
}




/* Secondary / default  */ 
:host(.outline) .bk-btn-success:hover {
    color: var(--success-bg-color) !important;
}
:host(.outline) .bk-btn-warning:hover {
    color: var(--warning-bg-color) !important;
}
:host(.outline) .bk-btn-danger:hover {
    color: var(--danger-bg-color) !important;
}

/* 

.bk-btn-group:hover {
    background-color:  var(--md-sys-elevation-1-background); 
}
.bk-btn:hover {
    box-shadow: var(--md-sys-elevation-1-box-shadow) !important;
} */
