name: tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
    - '*'
  workflow_dispatch:
  schedule:
    - cron: '0 19 * * SUN'

jobs:
  # pre_commit:
  #   name: Run pre-commit hooks
  #   runs-on: 'ubuntu-latest'
  #   steps:
  #     - uses: actions/checkout@v2
  #       with:
  #         fetch-depth: "1"
  #     - name: set PY
  #       run: echo "PY=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV
  #     - uses: actions/cache@v1
  #       with:
  #         path: ~/.cache/pre-commit
  #         key: pre-commit|${{ env.PY }}|${{ hashFiles('.pre-commit-config.yaml') }}
  #     - name: pre-commit
  #       uses: pre-commit/action@v2.0.3
  unit_test_suite:
    name: Unit tests on ${{ matrix.os }} with Python ${{ matrix.python-version }}
    needs: [pre_commit]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        # python-version: [3.7, 3.8, 3.9]
        python-version: [3.9]
        # exclude:
        #   - os: windows-latest
        #     python-version: 3.8
    timeout-minutes: 90
    defaults:
      run:
        shell: bash -l {0}
    env:
      DESC: "Python ${{ matrix.python-version }} tests"
      PYTHON_VERSION: ${{ matrix.python-version }}
      SETUPTOOLS_ENABLE_FEATURES: "legacy-editable"
      DISPLAY: ":99.0"
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # Without this env var `doit env_create ...` uses by default
      # the `pyviz` channel, except that we don't want to configure
      # it as one of the sources.
      PYCTDEV_SELF_CHANNEL: "pyviz/label/dev"
    steps:
      - uses: pyviz-dev/holoviz_tasks/install@v0.1a2
        with:
          name: unit_test_suite
          python-version: ${{ matrix.python-version }}
          channels: pyviz/label/dev,bokeh/label/dev,conda-forge,nodefaults
          envs: "-o examples -o recommended -o tests -o build"
          cache: true
          opengl: true
        id: install
      - name: doit develop_install
        if: steps.install.outputs.cache-hit != 'true'
        run: |
          conda activate test-environment
          pip install pyecharts idom
      - name: bokeh_sampledata
        run: |
          conda activate test-environment
          bokeh sampledata
      - name: Install bokeh 3.0 compatibility packages
        run: |
          conda activate test-environment
          conda install "nodejs>16" "bokeh=3.0.0dev11" -c bokeh/label/dev -c conda-forge -y
          pip install "git+https://github.com/holoviz/holoviews.git@bokeh3.0"
          pip install "git+https://github.com/bokeh/jupyter_bokeh.git"
      - name: doit env_capture
        run: |
          conda activate test-environment
          doit env_capture
      - name: doit test_unit
        run: |
          conda activate test-environment
          doit test_unit
      - name: test examples
        run: |
          conda activate test-environment
          doit test_examples
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./coverage.xml
          flags: unitexamples-tests
          fail_ci_if_error: false # optional (default = false)
  ui_test_suite:
    name: UI tests on ${{ matrix.os }} with Python 3.9
    needs: [pre_commit]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
    timeout-minutes: 60
    defaults:
      run:
        shell: bash -l {0}
    env:
      DESC: "Python ${{ matrix.python-version }} tests"
      PANEL_LOG_LEVEL: info
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      SETUPTOOLS_ENABLE_FEATURES: "legacy-editable"
      # Without this env var `doit env_create ...` uses by default
      # the `pyviz` channel, except that we don't want to configure
      # it as one of the sources.
      PYCTDEV_SELF_CHANNEL: "pyviz/label/dev"
    steps:
      - uses: pyviz-dev/holoviz_tasks/install@v0.1a2
        with:
          name: ui_test_suite
          python-version: 3.9
          channels: pyviz/label/dev,bokeh/label/dev,conda-forge,nodefaults
          envs: "-o recommended -o tests -o build"
          cache: true
          playwright: true
        id: install
      - name: launch jupyter
        run: |
          conda activate test-environment
          jupyter server extension enable panel.io.jupyter_server_extension --sys-prefix
          (jupyter lab --config panel/tests/ui/jupyter_server_test_config.py --port 8887 > /tmp/jupyterlab_server.log 2>&1) &
      - name: Wait for JupyterLab
        uses: ifaxity/wait-on-action@v1
        with:
          resource: http-get://localhost:8887/lab
          timeout: 180000
      - name: Install bokeh 3.0 compatibility packages
        run: |
          conda activate test-environment
          conda install "nodejs>16" "bokeh=3.0.0dev11" -c bokeh/label/dev -c conda-forge -y
          pip install "git+https://github.com/holoviz/holoviews.git@bokeh3.0"
          pip install "git+https://github.com/bokeh/jupyter_bokeh.git"
      - name: doit env_capture
        run: |
          conda activate test-environment
          doit env_capture
      - name: doit test_ui
        run: |
          conda activate test-environment
          doit test_ui
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./coverage.xml
          flags: ui-tests
          fail_ci_if_error: false # optional (default = false)
